<mat-card>
    <h2>Your Profile Details</h2>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img
                            src="https://static.vecteezy.com/system/resources/thumbnails/024/983/914/small/simple-user-default-icon-free-png.png"
                            alt=""
                            class="profile-image"/>
                    <h1 class="mt20">Fazal Haroon</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table">
                            <tr>
                                <td>username</td>
                                <td>fazalharoon4</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
